Resources:
  AWSEBAutoScalingGroup:
    Type: "AWS::AutoScaling::AutoScalingGroup"
    Metadata:
      AWS::CloudFormation::Authentication:
        S3AccessCred:
          type: "S3"
          roleName: "aws-elasticbeanstalk-ec2-role"
          buckets: "seatus-env"

files:
  "/tmp/.env" :
    mode: "000644"
    owner: webapp
    group: webapp
    source: https://s3.us-east-2.amazonaws.com/seatus-env/.env
    authentication: S3AccessCred

container_commands:
  01move_env:
    command: "mv /tmp/.env /var/app/ondeck/.env"