container_commands:
   02_cache:
      command: "php artisan cache:clear"
      cwd: "/var/app/ondeck"
   03_clearcompile:
      command: "php artisan clear-compiled"
      cwd: "/var/app/ondeck"
   04_optimize:
      command: "php artisan optimize --force"
      cwd: "/var/app/ondeck"
   05_permissions:
      # fix permissions on the Laravel app folder
      command: "chmod 755 -R /var/app/ondeck"
      cwd: "/var/app/ondeck"
   06_permissions:
      # fix permissions on the Laravel app folder
      command: "chmod 777 -fR /var/app/ondeck/storage"
      cwd: "/var/app/ondeck/storage"
   07_dumpautoload:
      command: "/usr/bin/composer.phar dump-autoload --optimize"

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/99_cache_configuration.sh":
    mode: "000755"
    owner: webapp
    group: webapp
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars
      EB_APP_DEPLOY_DIR=$(/opt/elasticbeanstalk/bin/get-config container -k app_deploy_dir)
      echo $EB_APP_DEPLOY_DIR
      cd $EB_APP_DEPLOY_DIR
      php artisan config:clear