files:
  "/tmp/new_supervisord_conf":
     mode: "000644"
     owner: webapp
     group: webapp
     content: |
       ; Sample supervisor config file.
       ;
       ; For more information on the config file, please see:
       ; http://supervisord.org/configuration.html

       [unix_http_server]
       file=/tmp/supervisor.sock   ; (the path to the socket file)

       [inet_http_server]
       port = 127.0.0.1:9001

       [supervisord]
       logfile=/tmp/supervisord.log ; (main log file;default $CWD/supervisord.log)
       logfile_maxbytes=50MB        ; (max main logfile bytes b4 rotation;default 50MB)
       logfile_backups=10           ; (num of main logfile rotation backups;default 10)
       loglevel=info                ; (log level;default info; others: debug,warn,trace)
       pidfile=/tmp/supervisord.pid ; (supervisord pidfile;default supervisord.pid)
       nodaemon=false               ; (start in foreground if true;default false)
       minfds=1024                  ; (min. avail startup file descriptors;default 1024)
       minprocs=200                 ; (min. avail process descriptors;default 200)
       user=webapp

       [rpcinterface:supervisor]
       supervisor.rpcinterface_factory = supervisor.rpcinterface:make_main_rpcinterface

       [supervisorctl]

       [program:queue]
       command=php artisan queue:work --tries=3 --sleep=10 --queue=seatus-queues
       directory=/var/app/current
       stdout_logfile=/var/app/current/storage/logs/supervisor.log
       redirect_stderr=true

  "/opt/elasticbeanstalk/hooks/appdeploy/post/490-supervisor_install.sh":
      mode: "000777"
      owner: webapp
      group: webapp
      content: |
          #!/usr/bin/env bash
          . /opt/elasticbeanstalk/support/envvars

          if [ ! -f /usr/local/bin/supervisord ]; then
              echo "Installing supervisor and creating directories"
              sudo easy_install supervisor==3.1.3
          else
              echo "Supervisor already installed"
          fi

          if [ ! -d /etc/supervisor ]; then
              mkdir /etc/supervisor
              echo "Create supervisor directory"
          fi

          if [ ! -d /etc/supervisor/conf.d ]; then
              mkdir /etc/supervisor/conf.d
              echo "Create supervisor configs directory"
          fi

  "/opt/elasticbeanstalk/hooks/appdeploy/post/500-run_supervisor.sh":
     mode: "000777"
     owner: webapp
     group: webapp
     content: |
       #!/usr/bin/env bash

       if ps aux | grep -q "[/]usr/local/bin/supervisord"; then
        echo "supervisor is running"
       else
        echo "start supervisor"
        /usr/local/bin/supervisord -c /tmp/new_supervisord_conf
       fi