files:
  "/tmp/cron.sh":
     mode: "000755"
     owner: root
     group: root
     content: |
       sudo -u webapp /usr/bin/php /var/app/current/artisan schedule:run
     encoding: plain

  "/tmp/artisan_scheduler":
     mode: "000644"
     owner: root
     group: root
     content: |
           * * * * * root /tmp/cron.sh 1>> /dev/null 2>&1
     encoding: plain

container_commands:
   move_cron:
      command: "mv /tmp/artisan_scheduler /etc/cron.d/artisan_scheduler"
      leader_only: true
