packages:
  yum:
    nfs-utils: []
    jq: []
files:
  "/tmp/mount-efs.sh" :
    mode: "000755"
    content: |
      #!/usr/bin/env bash
      mkdir -p /mnt/efs
      mount -t nfs4 -o nfsvers=4.1,rsize=1048576,wsize=1048576,hard,timeo=600,retrans=2 fs-64aa191d.efs.us-east-2.amazonaws.com:/ /mnt/efs || true
      mkdir -p /mnt/efs/uploads
      chown webapp:webapp /mnt/efs/uploads
      mkdir -p /mnt/efs/users
      chown webapp:webapp /mnt/efs/users
      mkdir -p /mnt/efs/logs
      chown webapp:webapp /mnt/efs/logs
commands:
  01_mount:
    command: "/tmp/mount-efs.sh"
container_commands:
  01-rm-frontend-uploads:
    command: rm -rf /var/app/ondeck/public/frontend/images
  02-symlink-frontend-uploads:
    command: ln -snf /mnt/efs/uploads /var/app/ondeck/public/frontend/images
  03-rm-frontend-users:
    command: rm -rf /var/app/ondeck/public/frontend/users
  04-symlink-frontend-users:
    command: ln -snf /mnt/efs/users /var/app/ondeck/public/frontend/users
  05-rm-storage-logs:
    command: rm -rf /var/app/ondeck/storage/logs
  06-symlink-storage-logs:
    command: ln -snf /mnt/efs/logs /var/app/ondeck/storage/logs